@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

::selection{
    background-color: darkkhaki;
    color: #fff;
}

#bg{
    background: url(bg2.jpg) no-repeat
    center center;
    background-size: cover;
    height: 100vh;
}

#bg2{
    background: #1e130c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, rgb(0,28,67), #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, rgb(0,28,67), #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 300vh;
    
}

.navbar-brand{
    color: black;
    text-decoration: none;
    display: flex;
}

#opcoes{
    display: flex;
    justify-content:space-evenly;
}

a{
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    color:rgb(255, 255, 255);
}

p2{
    font-family: 'Barlow', sans-serif;
    color:rgb(255, 255, 255)
}

h1{
    font-size: 5em;
}

#txt{
    position:absolute;
    left:20%;
	top:40%;
}

#expandir{
    position:absolute;
    left:49.5%;
	top:97%;
    display: flex;
    justify-content: center;
}

.material-symbols-outlined{
    color: #fff;
}

#curriculod{
    position:absolute;
    top: 200vh;
    /* left: 40vw */
}

#outrosd{
    position:absolute;
    top: 300vh
}

@media (max-width: 555px){
    #txt{
        width: 40vw
    }
}