*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 10px;
    height:15vh;
    background-color:aqua;
    padding-left: 10px;
}
nav{
    height: 25px;
    background-color: rgb(246, 214, 171);
    padding-left: 10px
}

main {
    margin: 10px;
    display: flex;
    justify-content: start;
    gap: 10px;
}

article{
    height:60vh;
    width: 60%;
    background-color:aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 8px;
}

article p{
    align-self: flex-start;
}

section{
    height: 25%;
    width: 98%;
    background-color: chocolate;   
    padding: 8px;
}

aside {
    background-color: pink;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 8px;
}

figure{
    background-color: chartreuse;
    height: 40%;
}

details{
    background-color: chartreuse;
    height: 40%;
}

footer{
    margin:10px;
    height: 10vh;
    background-color: blue;
}

#oi {
    width: 100px;
    padding: 12px;
    border: 0;
    background-color: aqua;
    border-radius: 8px;

    cursor: pointer;
    transition: all .3s;
}

#oi:hover{
    background-color: aquamarine;
}

::selection{
    background-color: darkkhaki;
    color: #fff;
}